---
import HighlightCards from "./HighlightCards.astro";
---

<div class='hero-container'>
	<div class='hero-content'>
		<h1 class='hero-title'>Welcome to Solar Prospect</h1>
		<p class='hero-text'>
			We are a company that has mission to make solar cool, affordable, easily
			obtainable and widely adopted
		</p>

		<h2 class='hero-subtitle'>Get your Solars</h2>

		<p class='hero-text'>
			You can buy 1 Solar for 100 - 200 € and in one year in EU it will generate
			240-330 € that's crazy ROI get yours while you can
		</p>

		<HighlightCards />

		<div class='hero-btns'>
			<div class='cta-btn'><a href='/shop'>Shop</a></div>
			<div class='cta-btn secondary'><a href='/blog'>Blog</a></div>
		</div>
	</div>
</div>

<style>
	.hero-container {
		width: 100%;
		height: calc(100vh - var(--nav-height));
	}

	.hero-container h1 {
		font-size: 2rem;
		font-weight: 700;
	}

	.hero-content {
		height: 100%;
		width: 50vw;
		padding: 10px 40px;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	.hero-content > * {
		margin-bottom: 10px;
	}

	.hero-btns {
		display: flex;
	}
	.hero-container .cta-btn {
		margin-top: 0.75rem;
		margin-right: 1rem;
	}

	@media screen and (max-width: 630px) {
		.hero-content {
			width: 100%;
		}
	}
</style>
