---
const cards = [
	{
		value: "5 year warranty",
	},
	{
		value: "Free Installment",
	},
	{
		value: "1000 kWh/year",
		special: {
			active: true,
			value: "300 €",
		},
	},
];
---

<div class='highlight-cards'>
	{
		cards.map(card => (
			<div class='highlight-card'>
				<p>{card.value}</p>

				{card?.special?.active ? (
					<p class='special-info-tag'>{card.special?.value}</p>
				) : null}
			</div>
		))
	}
</div>

<style>
	.highlight-cards {
		width: 100%;
		display: flex;
		align-items: center;
	}

	.highlight-card {
		position: relative;
		padding: 1rem 0.5rem;
		background-color: rgba(47, 46, 46, 0.682);
		border-radius: 18px;

		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 0.75rem;
	}
	.highlight-card:last-child {
		margin-right: 0;
	}

	.highlight-card p {
		text-align: center;
	}

	.special-info-tag {
		position: absolute;
		top: -10%;
		right: -20%;
		background: linear-gradient(135deg, var(--yellow), 70%, var(--yellow2));
		border-radius: 50%;
		text-shadow: 1px 1px 3px black;
		padding: 3px 7px;
	}

	.highlight-card:hover > .special-info-tag {
		animation: wiggle 0.7s alternate infinite;
		transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	}

	@keyframes wiggle {
		0% {
			transform: rotate(0);
		}
		25% {
			transform: rotate(-10deg);
		}
		50% {
			transform: rotate(-8deg);
		}
		75% {
			transform: rotate(+10deg);
		}
		100% {
			transform: rotate(+20deg);
		}
	}

	@media screen and (max-width: 400px) {
		.highlight-cards {
			margin-left: -6%;
		}
		.highlight-card {
			padding: 0.25rem 0.25rem;
		}
		.special-info-tag {
			top: -25%;
			right: -25%;
			padding: 2px 3px;
		}
	}
</style>
