---
import MainLayout from "../layouts/MainLayout.astro";

import Hero from "../components/hero/Hero.astro";
import HeroBackground from "../components/hero/HeroBackground.astro";
---

<MainLayout>
	<section class='home'>
		<HeroBackground />
		<Hero />
	</section>
</MainLayout>

<style>
	.home {
		width: 100%;
	}
</style>
