---
import NavLink from "./NavLink.astro";
---

<nav>
	<div class='logo-container'>
		<img class='logo' src='' alt='logo' />
		<h2 class='logo-text'>SolarProspect</h2>
	</div>
	<div class='nav-links'>
		<NavLink href='/'>Home</NavLink>
		<NavLink href='/blog'>Blog</NavLink>
		<NavLink href='/about'>About</NavLink>
	</div>
</nav>

<style>
	nav {
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: var(--nav-height);

		display: flex;
		align-items: center;
		justify-content: center;

		background: linear-gradient(228deg, black, 8%, #0000001a);
	}

	.logo-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: 40px;
	}

	.nav-links {
		padding: 0.25rem 0.5rem;
		min-width: max-content;
		max-width: 400px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	@media screen and (max-width: 630px) {
		.logo-container {
			margin-right: 0;
		}
	}
</style>
