---
import Logo from "./Logo.astro";
import NavLink from "./NavLink.astro";
import CartLink from "./CartLink.astro";
---

<nav data-turbo-permanent id='nav-bar'>
	<Logo />
	<div class='nav-links'>
		<NavLink href='/shop'>Shop</NavLink>
		<NavLink href='/blog'>Blog</NavLink>
		<NavLink href='/about'>About</NavLink>
		<CartLink />
	</div>
</nav>

<style>
	nav {
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: var(--nav-height);

		display: flex;
		align-items: center;
		justify-content: center;

		background: linear-gradient(228deg, rgba(0, 0, 0, 0.696), 18%, #000000a4);
	}

	.nav-links {
		padding: 0.25rem 0.5rem;
		min-width: max-content;
		max-width: 400px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
</style>
