---
import Logo from "./Logo.astro";
import NavLink from "./NavLink.astro";
---

<nav>
	<Logo />
	<div class='nav-links'>
		<NavLink href='/'>Home</NavLink>
		<NavLink href='/blog'>Blog</NavLink>
		<NavLink href='/about'>About</NavLink>
	</div>
</nav>

<style>
	nav {
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: var(--nav-height);

		display: flex;
		align-items: center;
		justify-content: center;

		background: linear-gradient(228deg, black, 8%, #0000001a);
	}

	.nav-links {
		padding: 0.25rem 0.5rem;
		min-width: max-content;
		max-width: 400px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
</style>
